
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/myStyle.css">
    <title>Index</title>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/myJavaScript.js"></script>
</head>
<body>

    <div> Title:  @ViewBag.VotingSession.SessionTitle </div>

    <div> AdminUrl: /VotingSession/Index/?guid=@Html.Raw(ViewBag.VotingSession.SessionGuidString) </div>
    <div> VoterUrl: /JoinVotingSession/Index/?guid=@Html.Raw(ViewBag.VotingSession.SessionGuidString) </div>

    <table border="1" style="width:100%">
        <tr>
            <td> Issue          </td>
            <td> IsActive       </td>
            <td> VotesFor       </td>
            <td> VotesAgainst   </td>
            <td> NumberOfVoters </td>
        </tr>

        <!--For all data to go into table-->
        @for (int i = 0; i < ViewBag.VotingSession.VotingObjectsList.Count; i++)
        {
            <tr>
                <td> @ViewBag.VotingSession.VotingObjectsList[i].Issue          </td>
                <td> @ViewBag.VotingSession.VotingObjectsList[i].IsActive       </td>
                <td> @ViewBag.VotingSession.VotingObjectsList[i].VotesFor       </td>
                <td> @ViewBag.VotingSession.VotingObjectsList[i].VotesAgainst   </td>
                <td> @ViewBag.VotingSession.VotingObjectsList[i].NumberOfVoters </td>
            </tr>
        }
    </table>
</body>
</html>
